h1{
    color:pink;
    font-family:verdana;
    font-size: 50px;
    text-align: center;
}
h2{
    color:yellow;
    font-family:verdana;
    font-size: 50px;
    text-align: center;
}
h3{
    color:purple;
    font-family:verdana;
    font-size: 50px;
    text-align: center;
}